<<<<<<< HEAD
*{
  box-sizing:border-box;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: x-large;
}

body{
  margin:0;
  padding:0;
  background-color: lemonchiffon;
}

header {
  width: 20%;
  max-height: 10%;
  margin-left: 35%;
  margin-top: 0;
  margin-bottom: 5%;
  border: 10px ridge rgb(241, 241, 245);
  background-color: lightblue;
  font-size:20rem;
  text-align:center;
  
}
=======

>>>>>>> main
/* Container needed to position the button. Adjust the width as needed */
div {
  position: relative;
  margin-top: 10%;
  margin-bottom: 2%;
  margin-right:60%;
  max-width: 400px;
  display: flex;
  flex-direction: column;
  width: 50vw;
  height: 50vh;

  
}

/* Make the image responsive */
.dog-container, .cat-container,  .fox-container, img {
  margin-top: .0;
  max-width :400px;
  border-style:ridge;
  border-width: 4px;
  height: auto;
}

/* Style the button and place it in the middle of the container/image */
.dog-container,.cat-container,.fox-container {
  position: relative;
  
  background-color: rgb(186, 196, 231);
  color: rgb(0, 0, 0);
  font-size: 16px;
  padding: 12px 24px;
  border-style: ridge;
  cursor: pointer;
  border-radius: 10px;
  border-color: rgb(244, 244, 246);
  border-width: 8px;
}

#dogBtn, #catBtn, #foxBtn :hover {
  background-color: rgb(205, 233, 241);
}

aside {
  position:relative;
  width: 30%;
  padding-left: 15px;
  margin-left: 15px;
  float: right;
  background-color: rgb(211, 219, 205);
}
h1 {
  font-size: 20px;
  line-height:20px;
  text-align: center;
}

<<<<<<< HEAD
p, h2 {
  font-size: 20px;
  line-height:20px;
  text-align: left;
}
=======
.dog-container, .cat-container, .bear-container,#dogBtn #catBtn, #bearBtn :hover {
  background-color: rgb(243, 18, 18);
}

table, th, td {
   border: 1px, solid, black;
    }

>>>>>>> main
