*{
  box-sizing:border-box;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: x-large;
}

body{
  margin:0;
  padding:0;
  background-color: lemonchiffon;
}

header {
  border-style: ridge;
  border-width: 10px;
  border-color: honeydew;
  margin: 2px 25px 10px 0;
  padding: 5px;
  width: 40%;
  height: auto;
  text-align:justify;
 ;
}

/* Container needed to position the button. Adjust the width as needed */

.flex-centered {
  flex: 100%;
  justify-items: center;
  border-style: ridge;
  border-width: 10px;
  border-color: honeydew;
  margin: 2px 25px 10px 0;
  padding: 5px;
  width:50%;
  height: auto;
  text-align:center;

 
}

/* Make the image responsive */
.dog-container, .cat-container,  .bear-container, img {

  margin-top: 0;
  max-width :400px;
  border-style:ridge;
  border-width: 4px;
  height: auto;
}

/* Style the button and place it in the middle of the container/image */
.dog-container,.cat-container,.bear-container {
  position: relative;
  background-color: rgb(186, 196, 231);
  color: rgb(0, 0, 0);
  font-size: 16px;
  padding: 12px 24px;
  border-style: ridge;
  cursor: pointer;
 
  border-color: rgb(244, 244, 246);
  border-width: 8px;
}

#bearBtn,#dogBtn,#catBtn {
  background-color: rgb(205, 233, 241);
}
img {
    width:200px;

}

aside {
  
  width: 30%;
  right:0;
  padding-left: 15px;
  margin-left: 15px;
  background-color: rgb(211, 219, 205);
}
h1 {
  font-size: 20px;
  line-height:20px;
  text-align: center;
}

p, h2 {
  font-size: 20px;
  line-height:20px;
  text-align: left;
}
