body {
	background-color: lemonchiffon;
}

header {
  display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
  margin: 4%;
}

#site-Logo {
  font-size: 3em;
  text-shadow: 4px 2px 5px teal,
	0px 1px 2px #120901;
}

#gifPlace {
	padding: 0;
  margin: 0;
  box-sizing: border-box;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 10vh;
}

#adoption-Form {
  display: flex;
	flex-direction: column;
	justify-content: center;
	opacity: 0.9;
	color: #120901;
	font-size: 1.2em;
	margin: 0px 50px;
	border: 2px solid #120901;
	border-radius: 5px;
	background-color: rgb(186, 196, 231);
	box-shadow: 5px 5px 5px #120901;
}

.form-Layout {
  padding: 10px;
	margin-left: 5%;
	font-size: 15px;
}

.submit {
	display: flex;
	justify-content: center;
}

#submitBtn {
	border-radius: 10px;
	color: black;
	background-color: coral;
}

#goBack {
	background-color: coral;
	display: inline-block;
	border-radius: 10px;
  color: black;
  padding: 15px 32px;
  text-align: center;
	width: 50px;
	font-size: 16px;
	margin-left: .3%;
	margin-bottom: 10%;
	
}

#congratsMsg {
	visibility: hidden;
}

#msg {
  visibility: hidden;
  margin-top: 20px;
  font-weight: 700;
  height: 1.2em;
  font-size: 1.2em;
}

#msg.success,
#msg.error {
  visibility: visible;
}

#msg.success {
  color: #001b44;;
}

#msg.error {
  color: #e6252c;
}


